<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Luke Mayes' Portfolio</title>
	
	  <!-- Bootstrap core CSS -->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
  </head>

<body style="margin: 100px;padding:0">


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Luke Mayes' Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to 'Home', projects_path, :class => 'btn btn-dark'%>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-dark'  %>
      </li>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-dark'  %>
      <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-dark'  %>
      <% end %>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
    <table> 
    <tr> <h2 class="d-flex justify-content-center"> Luke Mayes </h2> </tr>
    <tr> <p class="text-center"> A Junior at University of Colorado Colorado Springs studying Computer Science </p> </tr>
  </table>
  <br>
<div class="container mt-auto mb-auto ">
  <div class="title d-flex flex-column text-center">
    <h1 style="font-family: 'Times New Roman', monospace;">Projects</h1>
  </div>

  <div class="container-fluid-nav text-center">
  <button type="button" class="btn btn-outline-primary btn-lg" > <%= link_to 'New Project', new_project_path %> </button>
</div>  
<br>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <table class="table">
          <% @projects.each do |project| %>
            <tr>
              <div class="col-md-4">
                <div class="card mt-6">
                <h5 class="card-title d-flex justify-content-center mt-3"> <%= project.title %> </h5>
                <p class="card-text d-flex text-center ml-3 mr-3"> <%= project.description %> </p>
                <div class="d-flex justify-content-center mb-2">
                 <%= link_to 'Show', project , :class => 'btn btn-outline-primary'%>
                   <div class="ml-3 mr-3"><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-outline-warning' %>
                   </div>
                 <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
                </div>
              </div>
            </tr>
          <% end %>
      </thead>
    </table>
  <div>
    <hr>



<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>.
<% end %>
  </div> <!-- /container -->
  
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>


</body>